*{
  margin: 0;
  box-sizing: border-box;
  color: white;
}

.App-body{
  background: url('./images/cougarcscat.jpg') rgba(0,0,0,0.25);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.App-header{
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.4), rgba(255,0,0,0));
  border-bottom: 1px solid white;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo{
  width: auto;
  height: 100%;
  filter: grayscale(100%) contrast(0%) brightness(200%);
}

.grid-container{
  height: 80vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

h1{
  font-family: 'Lucida Console', sans-serif;
  font-weight: 900;
  font-size: 1.875rem;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}